server:
  port: 8082

spring:
  application:
    name: Metric

  profiles:
    active: prod

  servlet:
    multipart:
      max-file-size: 10MB

application:
  security:
    jwt:
      secret-key: 74ba7cadbef37e73106b951a5c86313c957215f8175f66060daacc073c3c41c231df2b96058eceee511b82985322d9092ed7dd770f071bfa2bfc3bb89c8c868b
      expiration: 86400000
      refresh-token:
        expiration: 604800000

---

spring:
  config:
    activate:
      on-profile: prod
  data:
    mongodb:
      uri: mongodb+srv://thechef:mbIteAs1WY3zxYmN@metric.cikp7hx.mongodb.net/?appName=Metric
      database: gam_shop